*, *::before, *::after {
  box-sizing: border-box;
  margin-top: 4px;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 2px;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #5eff00);
}
.vip {
  padding: 0;
  margin-left: 1000px;
  margin-top: 1px;
  background: linear-gradient(to right, rgb(67, 46, 122),white)

}
.vi {
  margin-right: 1000px;
  margin-top: 1px;
  background: linear-gradient(to right, rgb(59, 46, 122),white)

}

.calculator-grid {
  margin-top: 2px;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.copyright {
  width: 100%;
  color: aliceblue;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}